
        <tr>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=user.username) }}">
                            {{ user.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s',
                    username=user_link) }}
        </td><td>
                {{ _('%(usernum)s', usernum = user.usernum) }}
        </td><td>
                {{ _('%(forename)s',forename=user.forename) }}
        </td><td>
                {{ _('%(surname)s', surname=user.surname) }}
        </td><td>
                {% if user.adminuser %}
                    Yes
                {%endif%}
        </td><td>
                {% if user.coach %}
                    Yes
                {%endif%}
        </td><td>
                {% if user.sessionmanager %}
                    Yes
                {%endif%}
        </td><td>
                {% if user.treasurer %}
                    Yes
                {%endif%}
        </td><td>
                 {% set balance_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.myaccount', username=user.username) }}">
                            {{ user.balance }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s',
                    username=balance_link) }}

        </td>


        </tr>
